/* default and dark mode color variables */

:root {
    --dark-blue: #282c34;
    --dark-blue-text: #282c34;
    --white: white;
    --white-trans: rgba(255, 255, 255, 0.87);
    --silver: #e0e0e0;
    --grey: #666;
    --black: black;
    --black-shadow: rgba(0, 0, 0, 0.1);

    --link-blue: #61dafb;
    --link-hover: #21a1c4;
    --error-red: #d32f2f;
}

.darkmode {
    --dark-blue: #E5F3FD;
    --dark-blue-text: black;
    --white: black;
    --white-trans: rgba(0, 0, 0, 0.87);
    --silver: #666;
    --grey: #e0e0e0;
    --black: white;
    --black-shadow: rgba(255, 255, 255, 1);

    --link-blue: #21a1c4;
    --link-hover: #61dafb;
    --error-red: #d32f2f;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
#theme-switch svg {
    fill: var(--silver);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}